@use '@angular/material' as mat;

.content {
    overflow-y: scroll;
    scrollbar-width: none;

    padding-left: 10px;
    padding-right: 10px;
    min-height: 100%;
    background-color: var(--mat-sys-surface-container-low);
}

.deploy-id {
    display: flex;
    margin-top: 16px;
    margin-bottom: 10px;
    align-items: center;
    font-size: x-large;
    color: var(--mat-sys-on-surface);

    & > mat-icon {
        font-size: 28px;
        height: 28px;
        width: 28px;

        & + span {
            padding-left: 4px;
        }
    }

    & > .separator-icon {
        padding-left: 6px;
        padding-right: 6px;

        @include mat.icon-overrides((
            color: var(--mat-sys-outline),
        ));
    }

    & > .type-icon {
        @include mat.icon-overrides((
            color: var(--mat-sys-primary),
        ));
    }
}

.deploy-details {
    color: var(--mat-sys-on-surface-variant);
    font-size: small;

    & span {
        margin-top: auto;
        margin-bottom: auto;
    }

    & a {
        color: var(--mat-sys-on-surface-variant);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    & > div {
        display: flex;
    }

    & mat-icon {
        font-size: 22px;
        height: 22px;
        width: 22px;
        padding-right: 4px;

        @include mat.icon-overrides((
            color: var(--mat-sys-outline),
        ));
    }
}

.no-data-alert {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-top: 40px;

    & > mat-icon {
        font-size: 50px;
        height: 50px;
        width: 50px;
        margin-bottom: 6px;
        color: var(--mat-sys-on-primary-container);

        @include mat.icon-overrides((
            color: var(--mat-sys-on-primary-container),
        ));
    }
}

mat-tab-group {
    margin-top: 20px;

    @include mat.tabs-overrides((
        active-indicator-color: var(--mat-sys-tertiary),
        active-focus-indicator-color: var(--mat-sys-tertiary),
        active-hover-indicator-color: var(--mat-sys-tertiary),
        active-indicator-height: 48px,
        divider-color: var(--mat-sys-tertiary),
    ));
}

::ng-deep .mat-mdc-tab-body-content {
    overflow-y: scroll;
    scrollbar-width: none;
    padding-left: 3px;
    padding-right: 3px;
}

mat-tab-group mat-expansion-panel {
    margin-top: 10px;
    margin-bottom: 10px;
}

.code-area {
    border: solid 1px var(--mat-sys-outline);
    & code {
        background-color: var(--mat-sys-surface-container-lowest);
    }
}

mat-spinner {
    justify-self: center;
    margin-top: 40px;
}