<div class="content">
    @if (groupList.length == 0) {
        <div class="no-data-alert">
            <mat-icon svgIcon="deployed_code_alert" aria-label="No deploys found" class="alert-icon"></mat-icon>
            <span>No data found</span>
        </div>
    } @else {
        @for (group of groupList; track group.name) {
            @if (groupList.length > 1 || group.name) {
                <div class="group-list">
                    <span>@if (group.name) { {{group.name}} } @else { Ungrouped }</span>
                </div>
            }
            <div class="project-list">
                @for (project of group.projects; track project.name) {
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <span>{{ project.name }}</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                
                        <mat-tree #tree [dataSource]="project.services" [childrenAccessor]="childrenAccessor">
                            <!-- Version format -->
                            <mat-tree-node *matTreeNodeDef="let node" [attr.id]="node.id" class="version-node" (click)="onDeployClicked(node.id)">
                                <div class="version-entry">
                                    <mat-icon svgIcon="deployed_code" aria-label="Deploy" class="icon"/>
                                    <span>{{node.name}}</span>
                                </div>
                            </mat-tree-node>
            
                            <!-- Service format -->
                            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodeToggle
                                            [cdkTreeNodeTypeaheadLabel]="node.name">
                                <div class="service-entry">
                                    <mat-icon svgIcon={{node.icon}} class="icon"
                                              [attr.aria-label]="'Deploy of type ' + node.icon"/>
                                    <span>{{node.name}}</span>
                                </div>
                            </mat-tree-node>
                        </mat-tree>
                    </mat-expansion-panel>
                }
            </div>
        }
    }
</div>