<div class="content">
    <div class="title">
        <h2>Manage projects</h2>
    </div>
    <div class="project-list">
        @for (project of projects; track project.name) {
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>{{project.name}}</mat-card-title>
                        <div>
                            <a (click)="onEditProjectClicked(project)">
                                <mat-icon svgIcon="edit"></mat-icon>
                            </a>
                            <a (click)="onDeleteProjectClicked(project)">
                                <mat-icon svgIcon="delete"></mat-icon>
                            </a>
                        </div>
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    <div class="project-data">
                        <mat-icon svgIcon="category" class="data-icon"></mat-icon>
                        <span class="data-key">Category:</span>
                        <div class="data-value">
                            <span class="single-line">{{project.category}}</span>
                        </div>
                    </div>
                    <div class="project-data">
                        <mat-icon svgIcon="service_account" class="data-icon"></mat-icon>
                        <span class="data-key">Service account:</span>
                        <div class="data-value">
                            <span class="single-line">{{project.serviceAccount}}</span>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        }
    </div>
    <div class="project-add">
        <mat-card appearance="outlined" (click)="onAddProjectClicked()">
            <mat-card-header>
                <mat-card-title-group>
                    <div>
                        <mat-icon>add_circle</mat-icon>
                        <span>Add new</span>
                    </div>
                </mat-card-title-group>
            </mat-card-header>
        </mat-card>
    </div>
</div>
