@use '@angular/material' as mat;

.content {
    max-width: 600px;
}

.title {
    font-size: larger;
    margin-bottom: 10px;
}

.project-list {
    & mat-card + mat-card {
        margin-top: 10px;
    }
    & mat-card-title-group a {
        cursor: pointer;
        user-select: none;
        color: var(--mat-sys-error);
        font-size: medium;

        & + a {
            margin-left: 10px;
        }
    }

    & mat-card-content {
        margin-top: 6px;

        & .project-data {
            display: flex;
            flex-direction: row;

            & .data-icon {
                height: 22px;
                width: 22px;
                margin-top: auto;
                margin-bottom: auto;
                @include mat.icon-overrides((
                    color: var(--mat-sys-primary),
                ));
            }

            & .data-key {
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 4px;
                font-size: medium;
            }
            & .data-value {
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 6px;
                font-size: medium;

                display: flex;
                color: var(--mat-sys-on-surface-variant);
                cursor: pointer;
                flex: 1;
            }
        }
    }
}

.project-add {
    margin-top: 16px;

    & mat-card {
        cursor: pointer;
        user-select: none;

        @include mat.card-overrides((
            outlined-container-color: var(--mat-sys-secondary-container),
        ));

        & mat-card-header {
            padding-top: 8px;
            padding-bottom: 8px;

            & mat-card-title-group {
                justify-content: center;

                & div {
                    display: flex;
                    flex-direction: row;

                    & mat-icon {
                        height: 22px;
                        width: 22px;
                        margin-top: auto;
                        margin-bottom: auto;
                        margin-right: 4px;
                    }

                    & span {
                        margin-top: auto;
                        margin-bottom: auto;
                    }
                }
            }
        }
    }
}