.project-add-or-edit {
    & mat-dialog-content {
        display: flex;
        flex-direction: column;

        & mat-form-field {
            min-width: 500px;

            & + mat-form-field {
                margin-top: 12px;
            }
        }
    }
}

.button {
    width: 70px;
}

.button-spinner {
    width: 16px !important;
}

::ng-deep .mat-mdc-dialog-surface {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}