@use '@angular/material' as mat;

.home {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.bar {
    height: var(--home-top-bar-height);
}

.content {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    height: 100%;
    width: 100%;
    background: var(--mat-sys-surface);
}

deploy-viewer {
    margin-left: auto;
    margin-right: auto;
}
settings {
    margin-left: auto;
    margin-right: auto;
}