.home {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.bar {
    height: var(--home-top-bar-height);
}

.content {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    height: 100%;
}

.left-side {
    overflow: auto;
    scrollbar-width: none;
    width: var(--home-content-left-side-width);
}

.right-side {
    display: flex;
    width: var(--home-content-right-side-width);
    margin-left: var(--home-content-margin);
}

file-viewer {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}